[Unit]
Description=My Node.js Application
After=network.target

[Service]
User={{ ansible_user }}
WorkingDirectory=/opt/my_node_app
ExecStart=/usr/bin/node app.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target